body {
  margin: 0;
  font-size: 14px;
  line-height: 1.3;
  color: #333;

  @screen sm {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.25em 0 0.75em;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

header,
section,
footer {
  @apply py-6;

  @screen sm {
    @apply py-8;
  }

  @screen md {
    @apply py-10;
  }

  @screen lg {
    @apply py-12;
  }

  @screen xl {
    @apply py-16;
  }

  @screen 2xl {
    @apply py-20;
  }

  @screen 3xl {
    @apply py-24;
  }
}
